# Visual Studio
/.vs
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
**/bin/
**/obj/

# Distribution artifacts
/dist/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log
temp_listing.txt
/.vscode
/.idea

/wiki
